
@font-face {
  font-family: bahnschrift;
  src: url("BAHNSCHRIFT.TTF") format("truetype");

  font-weight: normal;
  font-style: normal;
}

@page {
  margin: 0;
  size: A4;
}




* {
  font-family: bahnschrift
}

body {
  margin: 0;
}

p {
  font-size: 0.9em;
}

h1 {
  font-size: 3.5em;
}
h2 {
  font-size: 2em;
}

mark {
  text-decoration: underline;
  background-color: transparent;
}

.Hcentered {
  display: block;
  margin: 0 auto;
}
.Vcentered {
  display: block;
  margin: auto 0;
}
.centered {
  display: block;
  margin: auto;
}

.no-margin {
  margin: 0;
}
.Vmargin-1em {
  margin: 1em auto;
}
.Vmargin-2em {
  margin: 2em auto;
}
.Vmargin-3em {
  margin: 3em auto;
}

.textCenter {
  text-align: center;
}

.italic {
  font-style: italic;
}

.bold {
  font-weight: bold;
}

.miniFont {
  font-size: 0.6em;
}

.no-spacing {
  letter-spacing: -2px;
}

.icon {
  position: relative;
  /* Adjust these values accordingly */
  width: 1.5em;
  top: 5px;
  left: 5px;
  margin-right: 8px;
}

.list-style-dash {
  list-style-type: '-    ';
}

.fraction-width-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.demi-width {
  width: 45%;
  /* height: 100%; */
  margin: auto 2.5%;
  display: inline-block;
}

.blue {
  color: #6c9cea;
}
.red {
  color: #e52b2b;
}






/* Transitions */
@keyframes appear {
  99.99% { visibility: hidden; }
  100% { visibility: visible; }
}

@keyframes slideInFromRight {
  0% { transform: translateX(100%); }
  100% { transform: translateX(0); }
}
@keyframes slideInFromLeft {
  0% { transform: translateX(-100%); }
  100% { transform: translateX(0); }
}
@keyframes slideInFromBottom {
  0% { transform: translateY(100%); }
  100% { transform: translateY(0); }
}
@keyframes slideInFromTop {
  0% { transform: translateY(-100%); }
  100% { transform: translateY(0); }
}

.appear-right {
  animation: 1s ease 0s 1 slideInFromRight;
}
.appear-right-delay-1s {
  animation: 1s appear, 1s ease 1s 1 slideInFromRight;
  animation-fill-mode: forwards;
  visibility: hidden;
}
.appear-right-delay-2s {
  animation: 2s appear, 1s ease 2s 1 slideInFromRight;
  animation-fill-mode: forwards;
  visibility: hidden;
}
.appear-right-delay-4s {
  animation: 4s appear, 1s ease 4s 1 slideInFromRight;
  animation-fill-mode: forwards;
  visibility: hidden;
}

.appear-bottom {
  animation: 1s ease 0s 1 slideInFromBottom;
}



#vertical_panel {
  width: 11em;
  height: auto;
  position: absolute;
  left: 2.5em;
  top: 0;
  bottom: auto;
  padding-bottom: 4em;
  margin-bottom: auto;

  border-radius: 40px 0 40px 0;
  background-color: #fbe5d6;
}
#vertical_panel #card {
  width: 80%;
  height: auto;
  margin: 3.3em auto 2em auto;

  background-color: white;
  border-radius: 0.3em;
  padding-bottom: 1px;
}
#vertical_panel #card p {
  margin: 0 0.2em;
  /* line-height: 0.8em; */
}
#vertical_panel #card #profilePicture {
  display: block;
  width: 100%;
  margin-bottom: 0.2em;
  border-radius: 0.3em 0.3em 0 0;
}
#vertical_panel .note {
  padding: 1.25em 0.2em;
}
#vertical_panel .note p {
  margin: 0.2em 0 0.2em 0.4em;
}







#horizontal_panel {
  width: 100%;
  height: 10em;
  position: absolute;
  top: 5em;
  background-color: #6c9cea;
}
#horizontal_panel h1 {
  margin-left: 3.5em;
}








#main {
  width: auto;
  height: auto;
  position: absolute;
  top: 17em;
  left: 15em;
  right: 2.5em;
  text-align: justify;
}











/*
.ele {
  animation: 1s appear,1s ease 1s 1 slideInFromRight;
  animation-fill-mode: forwards;
  visibility: hidden;
}
.appear-right {

}

@keyframes appear {
  99% {
    visibility: hidden;
  }
  100% {
    visibility: visible;
  }
} */
